<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='public/css/styles.css'>
</head>

<body>
    <div id='nav' class='p-2'>
        <img id='logo1' src='https://saverlife.earn.org/static/assets/img/essp-pink-logo-white.png' alt='Saver Life'>
    </div>
    <div class='col-sm-6 my-5 mx-auto p-5 bg-light text-center' style='height:200px;vertical-align:middle'>
        <h4>Expired.</h4>
    </div>
</body>