<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
	<h2>Select payment method:</h2>
	<form>
		<ul>
			<li><i class="fab fa-paypal"></i> PayPal</li>
			<li><i class="fab fa-cc-paypal"></i> PayPal Gift Card</li>
			<li> Venmo</li>
		</ul>
	</form>
	<a href="">PayPal</a>
</body>
</html>
